/* index.css(로이드) */
body{position: relative; margin: 0 auto; }
header{background: #fff; position: fixed;  top:0; width:100%; border-bottom:1px solid var(--color-head-line); z-index: 999;}
header .menu_wrap{ /* 로고~아이콘까지 */
    max-width:var(--width-desk); 
    display:flex; flex-flow:row nowrap;
    justify-content: space-between; align-items:center;
    margin:0 auto;  height:83px;
}
header .menu_wrap .logo{}
header .menu_wrap .logo a {}
header .menu_wrap .logo a img {}

/* 메인메뉴 시작 */
header .menu_wrap nav {display:flex; justify-content:space-between; width:711px;} 
header .menu_wrap nav a { /* best~런칭캘린더 메뉴까지 */
    position: relative; /* .menu_wrap nav a::after 포지션 주기 위해서 position:relative 줌 */
    font-weight: 500;
}

header .menu_wrap nav a:nth-child(7){ /* 런칭캘린더 메뉴 */
    color:var(--color-primary);
    font-weight:600;
}
header .menu_wrap nav a::after {
    content:''; display:block; width:100%; height:1.5px; left:0; bottom:-8px;
    background: #000; position: absolute;
    transform: scaleX(0);
    transition:transform 0.4s;
}
header .menu_wrap nav a:hover::after{transform: scaleX(1);}

header .menu_wrap .snb {}/* 메뉴 오른쪽 섹션(3개 아이콘) */
header .menu_wrap .snb a {}
header .menu_wrap .snb a img {}
header .menu_wrap .snb .search_btn {margin-right:24px;}
header .menu_wrap .snb .search_btn img {}
header .menu_wrap .snb .cart_btn {margin-right:24px;}
header .menu_wrap .snb .cart_btn img {}
header .menu_wrap .snb .login_btn_ img {}


/* 서브 메뉴 */
header .menu_open_wrap { /* item 마우스오버 했을때 나오는 서브 메뉴 */
    height:370px; background:#fff;
    display: flex; position: absolute;  top:83px; width:100%; 
    border-top:1px solid var(--color-head-line); z-index: 950;
}
header .menu_open_wrap .menu_open_inner {
    width:var(--width-desk); margin:0 auto; padding-top:40px;
    display:flex;  justify-content: space-between;
    
} 
header .menu_open_wrap .menu_open_inner .menu_list {
    display:flex; gap:110px;
}
header .menu_open_wrap .menu_open_inner .menu_list .middle_menu {}
header .menu_open_wrap .menu_open_inner .menu_list .middle_menu > a {font-weight:600;}
header .menu_open_wrap .menu_open_inner .menu_list .middle_menu:nth-child(2) > a {color:var(--color-primary);}
header .menu_open_wrap .menu_open_inner .menu_list .middle_menu .sub_menu { margin-top:28px;} 
header .menu_open_wrap .menu_open_inner .menu_list .middle_menu .sub_menu > li { margin-top:16px; font-size:0.875rem;} 
header .menu_open_wrap .menu_open_inner .menu_list .middle_menu .sub_menu > li > a {} 

header .menu_open_wrap .menu_open_inner .menu_banner {}
header .menu_open_wrap .menu_open_inner .menu_banner a {}
header .menu_open_wrap .menu_open_inner .menu_banner a img {}

/* item메뉴 눌렀을 때 나오는 나오는 배경 */
.popup_bg {
    background-color: rgba(0,0,0,0.25);
    width:100%; height:100%; left:0; top:0;
    position:absolute; z-index: 900;
}

/* 메인 슬라이드 */
/* swiper(보이는 영역) > swiper-wrapper (움직이는대상) > swiper-slide(개별슬라이드) */
.hero-banner {height:900px;}
.hero-banner > .swiper-wrapper {}
.hero-banner > .swiper-wrapper > .swiper-slide {background-size: cover; background-position: center;}
.hero-banner .swiper-wrapper .hero1{
    background-image:url(../images/mainbnr.jpg);
}
.hero-banner .swiper-wrapper .hero2{
    background-image:url(../images/mainbnr.jpg);
}
main .hero-banner .swiper-wrapper .swiper-slide .photo {
    height:850px; overflow: hidden;
}

main .hero-banner .swiper-wrapper .swiper-slide .photo img {
    width:100%; height:100%; 
}

main .hero-banner .swiper-wrapper .swiper-slide h2 {
    position: absolute; top:46%; left:15%; font-size:var(--font-size-maintitle);
    font-family: var(font-family-maintitle); font-weight: 500;
}

main .hero-banner .swiper-wrapper .swiper-slide h3 {
    position: absolute; top:54%; left:15%; font-size: 1.188rem; 
}
/* swipeer 화살표 */
main .hero-banner .swiper-button-prev,
main .hero-banner .swiper-button-next {width:30px; height:30px; color:var(--color-dark);}
main .hero-banner .swiper-button-prev {transform: translateX(50px);}
main .hero-banner .swiper-button-next {transform: translateX(-50px)}
/* hover */
/* main .hero-banner .swiper-button-prev:hover,
main .hero-banner .swiper-button-next:hover {color:#fac;} */
/* disabled next, prev */
main .hero-banner .swiper-button-disabled {color:#222; opacity:0.3;}

/* 2행 카테고리 메뉴 */
main .category_menu {padding:80px 0;}
main .category_menu ul {display: flex; flex-flow:row nowrap; justify-content: center; gap:40px; }
main .category_menu ul li {}
main .category_menu ul li a {}
main .category_menu ul li .thumb {width:120px; height:120px; border-radius: 50%; overflow: hidden; margin-bottom:15px;}
main .category_menu ul li .thumb img {width:100%; height: 100%; object-fit: cover;}
main .category_menu ul li .desc {text-align: center; font-weight: 500;}

/* --------------------------------------------------------------------------------------- */

/* 상품명,가격,리뷰 공통 디자인 */
.product_desc .name {font-size:var(--font-size-prodname); margin-bottom: 10px; }
.product_desc .price {font-weight: 700; margin-bottom: 18px;}
.product_desc .review {font-size:var(--font-size-review);}


/* VIEW MORE 버튼 디자인 */
.viewmore_wrap {display:flex; justify-content: center;}
.viewmore_wrap .viewmore_btn {
    font-size:var(--font-size-s);
    color:var(--color-dark);
    border:0.6px solid var(--color-dark);
    padding:10px 28px;
    transition: all 0.35s ease-in-out;
}
.viewmore_wrap .viewmore_btn:hover{
    background-color:var(--color-dark);
    color:var(--color-light);
}

/* 상품 섹션별 타이틀 공통 디자인 */
.item_sec_maintitle {font-size: var(--font-size-sectitle); font-weight:700; margin-bottom:15px;}
.item_sec_subtitle {font-size:var(--font-size-subtitle);}

/* NEW,오늘출발(5종 배너) 공통 디자인 */
.product_thumb {width:294px; height:374px; margin-bottom: 15px;}
.product_thumb img {width:100%; height:100%; object-fit:cover; }

/* --------------------------------------------------------------------------------------- */
/* 3행 BEST 섹션 */
main .best_sec {max-width:var(--width-desk); margin:0 auto;}
main .best_sec h2 {margin-bottom:15px;}
main .best_sec .item_sec_subtitle { margin-bottom:30px;}
main .best_sec .best_category_group {display: flex; gap:12px; margin-bottom: 50px;} /* 베스트 카테고리 메뉴 그룹 */
main .best_sec .best_category_group button { 
    font-size:var(--font-size-catetext); color: var(--color-category-text);
    border: 1px solid var(--color-category-line); border-radius: 20px; padding: 6px 17px; 
}
/* 베스트 카테고리 메뉴 그룹 활성화 */
main .best_sec .best_category_group .active {color:var(--color-light); background-color:var(--color-dark);} 
main .best_sec .contents {display:flex; flex-flow:row nowrap; gap:20px; padding-bottom: 65px;}
main .best_sec .contents li {}
main .best_sec .contents a {}
main .best_sec .contents a .best_thumb {width:373px; height:374px; margin-bottom: 15px;}
main .best_sec .contents a .best_thumb img {width:100%; height:100%;object-fit: cover;}
main .best_sec .contents a .product_desc {}


/* 4행 NEW 섹션 */
main .new_sec {max-width: var(--width-desk); margin: 0 auto; padding:140px 0 0 0;}
main .new_sec .item_sec_maintitle {text-align: center; margin-bottom:50px;}
main .new_sec .contents {
    display: flex; flex-flow:row nowrap; gap:20px; padding-bottom: 65px;
}
main .new_sec .contents li {}
main .new_sec .contents li a {}
/* main .new_sec .contents li a .product_thumb {width:294px; height:374px; margin-bottom: 15px;} */
/* main .new_sec .contents li a .product_thumb img {width:100%; height:100%; object-fit:cover; } */
main .new_sec .contents li a .product_desc {}
main .new_sec .contents li a .product_desc .new_icon {margin-bottom: 15px;}
main .new_sec .contents li a .product_desc .new_icon img {}


/* 7행 오늘출발 섹션 */
main .today_sec {max-width: var(--width-desk); margin: 0 auto; padding:140px 0;}
main .today_sec .item_sec_maintitle {text-align: center; margin-bottom:15px;}
main .today_sec .item_sec_subtitle { margin-bottom:50px; text-align: center;}
main .today_sec .contents {
    display: flex; flex-flow:row nowrap; gap:20px; padding-bottom: 65px;
}

/* 8행 오프라인,공식몰 2종 배너 섹션 */
main .lloyd_ad_banner {display: flex;  height:430px;}
main .lloyd_ad_banner a:nth-child(1) {
    background-image: url(../images/offline_adbanner.jpg); 
    background-size:cover;
    background-position: center;
    flex:1;
    position: relative; z-index: 450;
}
main .lloyd_ad_banner a:nth-child(1)::after {
    content:''; width:100%; height:100%;
    left:0; top:0; position: absolute; z-index: 500;
    background: rgba(0,0,0,0.35);
}
main .lloyd_ad_banner a:nth-child(2) {
    background-image: url(../images/benfit_adbanner.jpg); 
    background-size:cover;
    background-position: center;
    flex:1;
    position: relative;
}
main .lloyd_ad_banner a .lloyd_ad_title_g {position:absolute; left:80px; top:45%; z-index: 550;}
main .lloyd_ad_banner a .lloyd_ad_title_g .lloyd_ad_title {font-size:2.188rem; font-weight:700; margin-bottom:16px;}
main .lloyd_ad_banner a .lloyd_ad_title_g .lloyd_ad_des {font-size:var(--font-size-subtitle);}

main .lloyd_ad_banner a:nth-child(1) * {color:var(--color-light);}

/* 10행 3종 컬렉션 배너  */
main .collection_banner {max-width: var(--width-desk); margin: 0 auto;}
main .collection_banner .item_sec_maintitle {text-align:center;}
main .collection_banner .item_sec_subtitle {text-align:center;}
main .collection_contents {display: flex;}
main .collection_contents > li {width:497px; height:625px;}
main .collection_contents li a:nth-child(1) {
    background-image: url(../images/collection_couplering.jpg);
    background-size: cover;
}
main .collection_contents li a:nth-child(2) {
    background-image: url(../images/collection_men.jpg);
}
main .collection_contents li a:nth-child(3) {
    background-image: url(../images/collection_24k.jpg);
}
main .collection_contents li a {}