/* index.css(로이드) */
body{position: relative; margin: 0 auto; }
header{background: #fff; position: fixed;  top:0; width:100%; border-bottom:1px solid var(--color-head-line); z-index: 999;}
header .menu_wrap{ /* 로고~아이콘까지 */
    max-width:var(--width-desk); 
    display:flex; flex-flow:row nowrap;
    justify-content: space-between; align-items:center;
    margin:0 auto;  height:83px;
    
}
header .menu_wrap .logo{}
header .menu_wrap .logo a {}
header .menu_wrap .logo a img {}
/* 메인메뉴 시작 */
header .menu_wrap nav {} 
header .menu_wrap nav a { /* best~런칭캘린더 메뉴까지 */
    position: relative;
    margin-right:60px; font-weight: 500;
}
header .menu_wrap nav a:nth-child(7){ /* 런칭캘린더 메뉴 */
    color:var(--color-primary);
    font-weight:600;
}
header .menu_wrap nav a::after {
    content:''; display:block; width:100%; height:1.5px; left:0; bottom:-8px;
    background: #000; position: absolute;
    transform: scaleX(0);
    transition:transform 0.4s;
}
header .menu_wrap nav a:hover::after{transform: scaleX(1);}

header .menu_wrap .snb {}/* 메뉴 오른쪽 섹션(3개 아이콘) */
header .menu_wrap .snb a {}
header .menu_wrap .snb a img {}
header .menu_wrap .snb .search_btn {margin-right:24px;}
header .menu_wrap .snb .search_btn img {}
header .menu_wrap .snb .cart_btn {margin-right:24px;}
header .menu_wrap .snb .cart_btn img {}
header .menu_wrap .snb .login_btn_ img {}


/* 서브 메뉴 */
.menu_open_wrap { /* item 마우스오버 했을때 나오는 서브 메뉴 */
    margin-top:83px; height:370px; background:#fff;
    display: flex; position: fixed;  top:0; width:100%; 
    border-top:1px solid var(--color-head-line); z-index: 200;
}
.menu_open_wrap .menu_open_inner {
    width:var(--width-desk); margin:0 auto; padding-top:40px;
    display:flex;  justify-content: space-between;
    
} 
.menu_open_wrap .menu_open_inner .menu_list {
    display:flex; gap:110px;
}
.menu_open_wrap .menu_open_inner .menu_list .middle_menu {}
.menu_open_wrap .menu_open_inner .menu_list .middle_menu > a {font-weight:600;}
.menu_open_wrap .menu_open_inner .menu_list .middle_menu:nth-child(2) > a {color:var(--color-primary);}
.menu_open_wrap .menu_open_inner .menu_list .middle_menu .sub_menu { margin-top:28px;} 
.menu_open_wrap .menu_open_inner .menu_list .middle_menu .sub_menu > li { margin-top:16px; font-size:0.875rem;} 
.menu_open_wrap .menu_open_inner .menu_list .middle_menu .sub_menu > li > a {} 

.menu_open_wrap .menu_open_inner .menu_banner {}
.menu_open_wrap .menu_open_inner .menu_banner a {}
.menu_open_wrap .menu_open_inner .menu_banner a img {}

/* item메뉴 눌렀을 때 나오는 나오는 배경 */
.popup_bg {
    background-color: rgba(0,0,0,0.25);
    width:100%; height:100%; left:0; top:0;
    position:absolute; z-index: 100;
}

/* 메인 슬라이드 */
/* swiper(보이는 영역) > swiper-wrapper (움직이는대상) > swiper-slide(개별슬라이드) */
.hero-banner {height:900px;}
.hero-banner > .swiper-wrapper {}
.hero-banner > .swiper-wrapper > .swiper-slide {background-size: cover; background-position: center;}
.hero-banner .swiper-wrapper .hero1{
    background-image:url(../images/mainbnr.jpg);
}
.hero-banner .swiper-wrapper .hero2{
    background-image:url(../images/mainbnr.jpg);
}


main .hero-banner .swiper-wrapper .swiper-slide .photo {
    height:850px; overflow: hidden;
}

main .hero-banner .swiper-wrapper .swiper-slide .photo img {
    width:100%; height:100%; 
}

main .hero-banner .swiper-wrapper .swiper-slide h2 {
    position: absolute; top:46%; left:15%; font-size: 2.813rem;
}

main .hero-banner .swiper-wrapper .swiper-slide h3 {
    position: absolute; top:54%; left:15%; font-size: 1.188rem; 
}
/* 2행 카테고리 메뉴 */
main .category_menu {padding:80px 0;}
main .category_menu ul {display: flex; flex-flow:row nowrap; justify-content: center; gap:40px; }
main .category_menu ul li {}
main .category_menu ul li a {}
main .category_menu ul li .thumb {width:120px; height:120px; border-radius: 50%; overflow: hidden; margin-bottom:15px;}
main .category_menu ul li .thumb img {width:100%; height: 100%; object-fit: cover;}
main .category_menu ul li .desc {text-align: center; font-weight: 500;}

/* 상품명,가격,리뷰 공통 디자인 */
.product_desc .name {font-size:var(--font-size-prodname); margin-bottom: 10px; }
.product_desc .price {font-weight: 700; margin-bottom: 18px;}
.product_desc .review {font-size:var(--font-size-review);}

/* 3행 BEST 섹션 */
main .best_sec {max-width:var(--width-desk); margin:0 auto;}
main .best_sec h2 {font-size: var(--font-size-sectitle); font-weight:700; margin-bottom:15px;}
main .best_sec .subtitle {font-size:var(--font-size-subtitle); margin-bottom:30px;}
main .best_sec .best_category_group {display: flex; gap:12px; margin-bottom: 50px;} /* 베스트 카테고리 메뉴 그룹 */
main .best_sec .best_category_group button { 
    font-size:var(--font-size-catetext); color: var(--color-category-text);
    border: 1px solid var(--color-category-line); border-radius: 20px; padding: 6px 17px; 
}
/* 베스트 카테고리 메뉴 그룹 활성화 */
main .best_sec .best_category_group .active {color:var(--color-light); background-color:var(--color-dark);} 
main .best_sec .contents {display:flex; flex-flow:row nowrap; gap:20px; padding-bottom: 65px;}
main .best_sec .contents li {}
main .best_sec .contents a {}
main .best_sec .contents a .best_thumb {width:373px; height:374px; margin-bottom: 15px;}
main .best_sec .contents a .best_thumb img {width:100%; height:100%;object-fit: cover;}
main .best_sec .contents a .product_desc {}
main .best_sec .contents a .product_desc .name {}
main .best_sec .contents a .product_desc .price {}
main .best_sec .contents a .product_desc .review {}



/* 4행 NEW 섹션 */
main .new_sec {max-width: var(--width-desk); margin: 0 auto;}
main .new_sec h2 {text-align: center; font-size: var(--font-size-sectitle); font-weight:700; margin-bottom:50px;}
main .new_sec .contents {
    display: flex; flex-flow:row nowrap; gap:20px; padding-bottom: 65px;
}
main .new_sec .contents li {}
main .new_sec .contents li a {}
main .new_sec .contents li a .new_thumb {width:294px; height:374px; margin-bottom: 15px;}
main .new_sec .contents li a .new_thumb img {width:100%; height:100%; object-fit:cover; }
main .new_sec .contents li a .new_thumb .like_btn {}
main .new_sec .contents li a .new_thumb .like_btn img {}
main .new_sec .contents li a .product_desc {}
main .new_sec .contents li a .product_desc .new_icon {margin-bottom: 15px;}
main .new_sec .contents li a .product_desc .new_icon img {}
main .new_sec .contents li a .product_desc .name {}
main .new_sec .contents li a .product_desc .price {}
main .new_sec .contents li a .product_desc .review {}